@font-face {
    font-family: Pier;
    src: url("../fonts/PierSans-Regular.otf");
}

* {
    text-align: center;
}

html {
    background-color: #333;
    color: white;
    font-family: Pier, sans-serif;
}

.subheader {
    font-size: 24px;
}

.navbar {
    margin: 0 auto;
    position: absolute;
    transition: .2s ease-in-out;;
}

.navbar-item {
    display: inline-block;
    margin-left: 10px;
}
.navbar-item:not(:last-child) {
    margin-right: 10px;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

.navbar-item a:hover {
    color: gold;
}

@media only screen and (max-width: 850px) {
    .navbar {
        float: left;
        position:initial;
    }
}